Hej hej test

In [1]:
!pip install --index-url https://test.pypi.org/simple/ gc2-python-client

Requirement already satisfied: gc2-python-client in /home/mh/Source/gc2-python-client (2022.8.1)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the '/home/mh/Source/gc2-python-client/venv/bin/python -m pip install --upgrade pip' command.

In [2]:
import gc2
import folium
import pandas

In [3]:
local = gc2.Gc2("https://dk.gc2.io")
# local = gc2.Gc2("http://127.0.0.1:8080")
local.set_authentication(user="dk_test", pw="Pwd1234!", db="dk")
# local.set_authentication(user="mydb", pw="hawk2000", db="mydb")

In [5]:
query = gc2.Sql(local)
query.run("select ejerlavsnavn, matrikelnummer, 1 as hej, the_geom from matrikel.jordstykke limit 100")
pandas.DataFrame(query.rows, columns=query.columns)

       ejerlavsnavn matrikelnummer  hej
0   Vejle By, Vejle            51e    1
1   Vejle By, Vejle            4ar    1
2   Vejle By, Vejle            4at    1
3   Vejle By, Vejle            22k    1
4   Vejle By, Vejle            52e    1
..              ...            ...  ...
95  Vejle By, Vejle            7cs    1
96  Vejle By, Vejle            7cd    1
97  Vejle By, Vejle            4au    1
98  Vejle By, Vejle            4bc    1
99  Vejle By, Vejle            20g    1

[100 rows x 3 columns]

In [ ]:
m = folium.Map(
    location=[56.1759, 10.6016],
    tiles="cartodbpositron",
    zoom_start=7,
)
folium.GeoJson(query.geojson, name="geojson").add_to(m)
folium.LayerControl().add_to(m)
m